aiohttp==3.8.5
aiosignal==1.3.1
altair==5.2.0
anyio==3.6.1
appdirs==1.4.4
APScheduler==3.10.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.7.0
cachetools==5.3.2
certifi==2022.9.14
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
contourpy==1.0.5
cryptography==39.0.0
customtkinter==5.2.2
cycler==0.11.0
darkdetect==0.8.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
docopt==0.6.2
entrypoints==0.4
exceptiongroup==1.1.1
executing==1.0.0
fastjsonschema==2.16.1
Flask==2.2.2
fonttools==4.37.3
frozendict==2.3.4
frozenlist==1.4.0
gitdb==4.0.11
GitPython==3.1.40
h11==0.14.0
html5lib==1.1
idna==3.4
importlib-metadata==6.11.0
ipykernel==6.15.3
ipython==8.5.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.10
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyter_client==7.3.5
jupyterlab==3.4.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.15.1
kiwisolver==1.4.4
lxml==4.9.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
MouseInfo==0.1.3
multidict==6.0.4
multitasking==0.0.11
nbclassic==0.4.3
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.5.0
nest-asyncio==1.5.5
nltk==3.8.1
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.23.3
openai==0.27.8
outcome==1.2.0
packaging==21.3
pandas==1.5.0
pandas-read-xml==0.3.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.13
plotly==5.14.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==4.25.1
psutil==5.9.2
pure-eval==0.2.2
pyarrow==10.0.0
PyAutoGUI==0.9.53
-e git+https://github.com/gmnvh/pycarmaker.git@b9afb6cf1ea3ff482bbb6f3bfd832a704c886d17#egg=pycarmaker
pycparser==2.21
pydeck==0.8.1b0
PyGetWindow==0.0.9
Pygments==2.13.0
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytweening==1.0.4
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.4
pywin32==304
pywinpty==2.0.7
pyzmq==24.0.0
redis==4.5.5
regex==2023.6.3
requests==2.28.1
rich==13.7.0
scikit-learn==1.1.2
scipy==1.9.2
seaborn==0.12.0
selenium==4.9.0
Send2Trash==1.8.0
Shapely==1.8.4
six==1.16.0
sklearn==0.0.post1
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spotipy==2.23.0
stack-data==0.5.0
statsmodels==0.13.2
streamlit==1.29.0
tenacity==8.2.2
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tk==0.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
traitlets==5.4.0
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.12
validators==0.22.0
watchdog==3.0.0
wcwidth==0.2.5
webdriver-manager==3.8.6
webdrivermanager==0.10.0
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.2
wikipedia==1.4.0
wsproto==1.2.0
xmltodict==0.13.0
yarg==0.1.9
yarl==1.9.2
yfinance==0.2.3
zipfile36==0.1.3
zipp==3.17.0
